@main-background-color: #fff;
@main-text-color: #aaa;
@main-text-font: 'Open Sans', sans-serif;

@top-bar-height: 50px;

@right-panel-width: 300px;
@left-panel-width: 300px;

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128,128,128,0.5);
}

.combo-container {
  width: 300px;
  height: 100px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.combo {
  background-color: white;
}

.block {
  border: 1px solid darkgray;
  margin-bottom: 5px;
}

.dragging {
  color: grey;
}

@keyframes dragOverPadding {
  from {padding-top: 0px;}
  to {padding-top: 30px;}
}

.dragOver {
  animation-name: dragOverPadding;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}
