.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.5);
}
.combo-container {
  width: 300px;
  height: 100px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.combo {
  background-color: white;
}
.block {
  border: 1px solid darkgray;
  margin-bottom: 5px;
}
.dragging {
  color: grey;
}
@-webkit-keyframes dragOverPadding {
  from {
    padding-top: 0px;
  }
  to {
    padding-top: 30px;
  }
}
@keyframes dragOverPadding {
  from {
    padding-top: 0px;
  }
  to {
    padding-top: 30px;
  }
}
.dragOver {
  -webkit-animation-name: dragOverPadding;
          animation-name: dragOverPadding;
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
